@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 37% 7%;
    --card: 0 0% 100%;
    --card-foreground: 224 37% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 37% 7%;
    --primary: 224 40% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 40% 94%;
    --secondary-foreground: 224 40% 18%;
    --muted: 224 40% 94%;
    --muted-foreground: 224 20% 43%;
    --accent: 224 40% 94%;
    --accent-foreground: 224 40% 18%;
    --destructive: 3 67% 52%;
    --destructive-foreground: 0 0% 100%;
    --border: 224 40% 84%;
    --input: 224 40% 84%;
    --ring: 224 40% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 37% 7%;
    --foreground: 0 0% 100%;
    --card: 224 37% 7%;
    --card-foreground: 0 0% 100%;
    --popover: 224 37% 7%;
    --popover-foreground: 0 0% 100%;
    --primary: 224 40% 43%;
    --secondary: 224 40% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 40% 18%;
    --muted-foreground: 224 20% 63%;
    --accent: 224 40% 18%;
    --accent-foreground: 0 0% 100%;
    --border: 224 40% 18%;
    --input: 224 40% 18%;
    --ring: 224 80% 43%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
