@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 2% 90%;
    --foreground: 24 14% 7%;
    --card: 240 2% 90%;
    --card-foreground: 24 14% 7%;
    --popover: 240 2% 90%;
    --popover-foreground: 24 14% 7%;
    --primary: 211 71% 33%;
    --primary-foreground: 240 42% 90%;
    --secondary: 21 66% 51%;
    --secondary-foreground: 213.2 34.4% 13.2%;
    --muted: 240 42% 88.1%;
    --muted-foreground: 206.4 67.3% 26.9%;
    --accent: 240 42% 88.1%;
    --accent-foreground: 213.2 34.4% 13.2%;
    --destructive: 0 84.2% 53.2%;
    --destructive-foreground: 240 2% 90%;
    --border: 244.3 9.8% 85.4%;
    --input: 244.3 9.8% 85.4%;
    --ring: 211 71% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 14% 7%;
    --foreground: 240 2% 90%;
    --card: 24 14% 7%;
    --card-foreground: 240 2% 90%;
    --popover: 24 14% 7%;
    --popover-foreground: 240 2% 90%;
    --primary-foreground: 213.2 34.4% 13.2%;
    --secondary-foreground: 240 2% 90%;
    --muted: 237.2 32.6% 8.5%;
    --muted-foreground: 206 71.2% 46.1%;
    --accent: 237.2 32.6% 8.5%;
    --accent-foreground: 240 2% 90%;
    --border: 237.2 32.6% 8.5%;
    --input: 237.2 32.6% 8.5%;
    --ring: 214.3 64.3% 28%;

    @apply text-foreground;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-serif text-2xl text-foreground;
  }
}
